.Profile{}
.ProfileContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.ImageContainer{
  margin-right: 1rem;
}
.ImageContainer img{
  border: 3px ridge #c4c4c4;
  padding: 4px;
}
.ProfileInfoContainer{
}
.ProfileInfoContainer h2:first-of-type{
  margin-top: 0;
}
.Map{
  height: 300px;
  width: 100%;
}
.Button{
  background-color: rgb(106, 106, 106, 0.5); 
  padding: 3px 1rem;
  border-radius: 15px;
  color: white;
  border: none;
  line-height: 2rem;
  margin-bottom: 5px;
}
