.User:hover *{
  color: orange;
  fill: orange;
}
.User a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #c4c4c4;
}
.User a > span {
  text-decoration: none;
  margin-right: 1rem;
}
.PreventClick{
  pointer-events: none;
}
.UserCircle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  color: black;
}
