.DiskCard{
  padding: 3%;
  height: 50%;
  width: 70%;
  background-color: rgb(42,59,66, 0.5);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.DiskCard h2 {
  margin: 0;
}
