.BreadList li:before{
  content: "/";
  padding: 5px;
  color: gray;
}
.BreadList li:nth-of-type(2):before{
  content: none;
}
.BreadList{
  overflow: hidden;
  padding: 0;

}
.BreadList li{
  list-style-type: none;
  float: left;
}
.BreadList li span:hover{
  opacity: 0.5;
}
.BreadList li:last-of-type{
  color: orange;
}
