.SystemOverview{
}
.CardsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1200px){
  .CardsContainer{
    justify-content: center;
  }
}
