.RemoveLayout *{
  display: none;
}
.ContentLayout{
  display: flex;
  flex-direction: column;
  width: calc(100vw - 18%);
}
.Layout{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: #17282F;
}
.StopScrolling{
  height: 100%;
  overflow: hidden;
}
.DashboardMenu{
  background: #1B2022;
  color: white;
  width: 18%;
}
.MenuButton{
  display: none;
}
.DashboardHeader{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40%;
  text-align: center;
}
.ButtonLayout{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.DashboardButton{
  text-decoration: none;
  text-align: center;
  margin-bottom: 1.6rem;
  font-family: 'Rubik', sans-serif;
  width: 80%;
  line-height: 4rem;
  border-radius: 15px;
  background-color: rgb(196, 196, 196, 0.5);
  border: 0px;
  color: white;
}
.DashboardButton:hover{
  background-color: rgba(243, 124, 31, 0.8);
}

.ButtonEnabled{
  background-color: #F37C1F;
}
.DashboardButton:last-of-type{
  margin-bottom: 0;
}
.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6%);
  color: #C4C4C4;
  align-items: center;
  padding: 0 3%;
}
.HeaderNameMenuContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Header h3 {
  font-weight: 400;
  font-size: 1.8rem;
}
.MainSection{
  padding: 0 3%;
  color: #C4C4C4;
  width: calc(100% - 6%)
}
@media screen and (max-width: 1000px){
  .DashboardMenu{
    display: none;
  }
  .ContentLayout{
    width: 100%;
  }
  .MenuButton{
    display: inline-block;
    cursor: pointer;
    margin-right: 1rem;
  }
  .RemoveLayout *{
    display: none;
  }
  .DashboardMenuShow{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 100;
  }
  .DashboardHeader{
    cursor: pointer;
  }
}
