.Card{
  width: 45%;
  height: 350px;
  background-color: rgb(42,59,66, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}
.ChartContainer{
  width: calc(100% - 32px);
  height: 80%;
  padding: 16px; 
  padding-top: 0;
}
.Card h1 {
  color: #c4c4c4;
  padding: 6% 6% 2% 6%;
  margin:0;
  height: 20%;
}
.Card section{
  display: inline-block;
}

@media screen and (max-width: 1200px){
  .Card{
    width: 60%;
  }
}
@media screen and (max-width: 1000px){
  .Card{
    width: 70%;
  }
}
