.Table{
  color: white;
}
.TableContainer{
  border: 1px solid gray;
  border-collapse: collapse;
}
/* .TableContainer thead th{ */
/*   padding: 2px 5px; */
/*   border: 1px solid rgb(190, 190, 190); */
/*   font-size: 1rem; */
/* } */

.TableHeader{
  padding: 2px 5px;
  border: 1px solid rgb(190, 190, 190);
  font-size: 1rem;
}
.TableHeaderSelected{
  padding: 2px 5px;
  border: 1px solid rgb(190, 190, 190);
  font-size: 1rem;
  color: green;
}
.TableContainer tbody tr td{
  text-align: center;
  border-right: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
  font-size: 0.9rem;
}
.TableContainer tbody tr:hover{
  background-color: rgb(190, 190, 190, 0.2);
}
.TableHeader:hover{
  background-color: orange;
  color: black;
}
.TableHeaderSelected:hover{
  background-color: orange;
  color: black;
}
