.Login{
  height: 100vh; 
  width: 100vw;
  background-color: rgb(42,59,66);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4c4c4;
  flex-direction: column;
}

.FormWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  height: 70%;
  align-items: center;
  padding: 0 1.5rem;
}

.SubmitForm{
  background-color: rgb(42,59,66,0.5); 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.SubmitForm h1{
  margin: 0;
}
.SubmitForm div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-bottom: 10px;
}
.SubmitForm div label {
  margin-bottom: 5px;
}
.SubmitForm div input {
}
.SubmitForm a {
  color: orange;
}
.SubmitButton{
  border-radius: 5px;
  background-color: orange;
  height: 40px;
  border: none;
  cursor: pointer;
}
.ButtonChangeTitle{
  margin-top: 1rem;
  color: #c4c4c4;
}
.ButtonChangeTitle:hover{
  cursor: pointer;
}
.StatusInfo{
  background-color: crimson;
  width: 100%;
  color: black;
  animation: fadeIn 1s;
  text-align: center;
}
@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}
